/* This Page done by */
/* Name : T.J.Dinal.I.Fernando */
/* IIT ID : 20220536  */
/* UOW ID : w2000072  */


/* Imported font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset and basic styling */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}
#myVideo {
    position: fixed;
    right: 0;             
    bottom: 0;              
    min-width: 100%;         
    min-height: 100%;       
    z-index: -1;          
    filter: brightness(0.6);
}
/* General styles for the container */
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 50px;
}

/* Form styles */
.container form {
    background-image: linear-gradient(-45deg, #002147, #004080, #0d98ba, #3ea6d1, #4f9dc9);
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 800px;
    padding-top: 160px;
}

/* Input box styles */
.container form .inputBox {
    margin-top: 20px;
}

.container form .inputBox span {
    display: block;
    color: darkblue;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: black;
    font-weight: bold;
}

/* Flexbox styles */
.container form .flexbox {
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}

/* Submit button styles */
.container form .submit-btn {
    width: 100%;
    background-image: linear-gradient(-45deg, #002147, #004080, #0d98ba, #3ea6d1, #4f9dc9);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

/* Card container styles */
.container .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

/* Front face styles */
.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(-45deg, #002147, #004080, #0d98ba, #3ea6d1, #4f9dc9);
    border-radius: 25px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

/* Front face image styles */
.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

/* Card number box styles */
.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

/* Flexbox inside front face styles */
.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

/* Back face styles */
.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-45deg, #002147, #004080, #0d98ba, #3ea6d1, #4f9dc9);
    border-radius: 25px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

/* Back face stripe styles */
.container .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

/* Back face box styles */
.container .card-container .back .box {
    padding: 0 20px;
}

.container .card-container .back .box span {
    color: #fff;
    font-size: 15px;
}

/* Back face CVV box styles */
.container .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

/* Back face image styles */
.container .card-container .back .box img {
    margin-top: 30px;
    height: 30px;
}
.container form .inputBox.checkbox-box {
    display: flex;
    align-items: center;
}

.container form .inputBox.checkbox-box input {
    margin-right: 10px;
    margin-top: 20px;
}

.container form .inputBox.checkbox-box label {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #fff;
    font-size: 15px;
}
.container form .inputBox.total-box {
    display: flex;
    align-items: center;
}

.container form .inputBox.total-box span {
    flex: 1 1 auto;
    color: #fff;
    font-size: 20px;
}
.container form .inputBox.total-box h2{
    margin: 0; 
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.container form .inputBox.total-box h2 span {
    margin-left: 5px;
}
#total_bill {
    display: inline; 
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
  }
  .back-to-top a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #007bff; 
    color: #fff; 
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .back-to-top a:hover {
    background-color: #0056b3; 
  }
  
  .back-to-top i {
    font-size: 24px;
  }